.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #000000; 
  text-shadow: 2px 2px 8px grey;
  letter-spacing: 2px;
}

.accordion {
  --bs-accordion-btn-bg: #ffffffa6;
  --bs-accordion-active-bg: ivory;
  --bs-accordion-btn-focus-box-shadow: #7e7a7aae;
  --bs-accordion-bg: ivory;
  --bs-accordion-color: #000000;
}

.navbar i{
  font-size: 1.5rem; 
}
.navbar {
  font-size: 1.2rem; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #000000; 
  text-shadow: 2px 2px 8px #77827482;
  letter-spacing: 1px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

p{
  font-family: 'Montserrat', sans-serif; 
  color: #000000; 
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

body{
  background-image: url('/sfondo2.png');
  background-size: cover;         
  background-position: center;     
  background-repeat: no-repeat;
}

